header{
    background: rgb(234, 238, 238);
    border: 1px solid rgb(49, 49, 49);
    padding: 20 px;
    text-align:  center
}

nav{
    background-color: rgb(174, 174, 174);
    padding: 5px 15 px;

}

nav li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14 px verdana, sans-serif;
    text-align: center;
}

body{
    text-align: center;
}

section{
    float: left;
    width: 70%;
    margin: 20px;
    text-align: justify;
}

aside{
    float: right;
    width: 20%;
    margin: 20px 0px;
    padding: 20px;
    background:  #090909;
    color: white;
    text-align: :justify;

    



}

article{
    background: #151515;
    border: 1px solid rgb(251, 249, 249);
    padding: 20px;
    margin-bottom: 15px;
    color: white;
}

footer{
    clear: both;
    text-align: center;
    padding: 20px;
    border: 2px solid rgb(252, 250, 250);

}

article img{
    float: right;
    margin: 0px 10px;
}

article footer{
    text-align: right;
    border-top: 2px solid rgb(8, 8, 8)
}


