{
    margin:0;
    padding:0;
}

header{
    font-family: sans-serif;
    width: 500px;
    margin: auto;
}
ul{
    list-style: none;
}
#menu li>a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
}